

body {
    background-color: rgb(153, 206, 212);
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  li {
    display: inline;
  }

#nav{
    margin-top: 0.1%;
    margin-left: 0.5%;
}

#main {
    position: absolute;
    background-color: azure;
    height: 300px;
    margin-left: 50%;
    margin-top: 10%;
    border-radius: 5px;
    
}

.form{
    display: flex;
    margin-top: 10px;
}

#title {
   margin-left: 30%;
}

.field {
    padding-top: 10px;
}
.item{
    padding-left: 10px;
}